
/* Sets background image */
body {
  background-image: url('../img/bg.jpg');
  background-attachment: fixed;
  background-size: cover;
}


/* This section corresponds to the Navigation bar */
/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(45, 128, 5);
    opacity: 0.9;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 26px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(1, 37, 9);
    color: white;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: black;
    color: white;
  }
  
  /* Hide the icon that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  * {box-sizing: border-box}

  /* Text styling boxes */
  .intro {
    float: center;
    width: 100%;
    height: 300px;
    background-color: white;
    opacity: 0.9;
    padding: 30px;
    overflow-y: auto;
  }

  .textbox {
    float: center;
    width: 100%;
    height: 500px;
    background-color: white;
    opacity: 0.9;
    padding: 30px;
    overflow-y: auto;
  }

  /* Styles captioned images on index page */
  .captionbox {
    position: relative;
    max-width: 600px; /* Maximum width */
    margin: 20px auto; /* Center it */
    text-align: center;
  }
  
  .captionbox .caption {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; 
    width: 100%;
    padding: 20px;
  }


  /* This section corresponds to the accordion panel on the index page */
  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow-y: auto;
}

  /* Style the tab */
  .tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #8c928d;
    opacity: 0.8;
    width: 30%;
    height: 600px;
  }

  /* This section correspomds to the vertical tabs on the four eco pages */
  /* Style the buttons that are used to open the tab content */
  .tab button {
    display: block;
    background-color: inherit;
    color: white;
    background-color: rgb(45, 128, 5);
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: rgb(1, 37, 9);
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: black;
    color: white;
  }
  
  /* Style the tab content */
  .tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 600px;
    background-color: rgb(255, 255, 255);
    opacity: 0.8;
    overflow-y: auto;
  }

  .tabcontent h2 {
    margin: 5px;
  }

  .tabcontent h5 {
    margin: 5px;
  }

  .tabcontent p {
    padding: 10px;
    margin-right: 10px;
  }
  
  /* Style for page content */
  .content {
    padding: 14px 14px 14px 14px;
    font-size: 22px;
  }

  /* Styles polaroid photos used in vertical tabs */
  .polaroid {
    width: 40%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    float: right;
  }
  
  .container {
    text-align: center;
    margin-left: 20px auto;
  }

  /* Styles headers */
  .tophead {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    font-family: Arial;
    text-align: center;
  }

  .subhead {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial;
    padding-left: 40px;
  }
  
  /* When the screen is less than 800 pixels wide, */
  @media screen and (max-width: 600px) {
    /* Hide all links, except for the selected tab */
    .topnav a:not(.active) {
      display: none;
    }
    /* Show the icon that should open and close the topnav*/
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* When the screen is less than 800 pixels wide, if the user clicks on the icon, */
  /* the "responsive" class attribute will be added to the topnav by the JavaScript code. */
  /* This media query sets the style for the unfolded topnav. */
  /* It makes the topnav look good on small screens (display the links vertically instead of horizontally)  */
  @media screen and (max-width: 600px) {
    .topnav.responsive {
      position: relative;
    }
  
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
